%a{:data => {:role => 'button', :type => 'pulldown'}} Your Javascript-Code
.clearfix.row.pulldown
  %label{:for => 'code'} Your Javascript-Code:
  %textarea{:type =>  'text', :name => "#{method}_code", :class => 'text', :rows => 10, :cols => 50}= "fsdafsdfa\nfdsafsadfas\n\nfsadfasdfa\nfsadfsds\nende"
%a{:data => {:role => 'button', :type => 'pulldown'}} MR-Code for #{method}
.clearfix.row.pulldown
  %label{:for => "code_#{method}"} MR-Code for #{method}:
  %textarea{:type => 'text', :name => 'key1', :class => 'text', :rows => 10, :cols => 50, :readonly => 'readonly', :id => "code_#{method}"}= generated_code