%a{:data => {:role => 'button', :type => 'pulldown'}} Emit-Values/Emit-Functions
.add-remove.pulldown
  - emit_values.each_with_index do |value, i|
    .clearfix.row.add-remove-element
      .pair
        %label{:for => "#{method}_value_#{i}"} Emit-Value:
        %input{:type =>  'text', :name => "#{method}_value_name[]", :class => 'text', :value => value.name, :id => "#{method}_value_#{i}"}
        %a{:href => "/builder/#{params[:uuid]}/sample_data/#{method}?type=value", :class => 'sample_data', :data => {:rel => 'dialog', :transition => 'flip', :corners => 'true', :shadow => 'true', :wrapperels => 'span', :role => 'button', :inline => 'true'}}
          = 'Sample Data'
      .pair
        %label{:for => "#{method}_value_function_#{i}"} Emit-Value-Function:
        %input{:type =>  'text', :name => "#{method}_value_function[]", :class => 'text', :value => value.function, :id => "#{method}_value_function_#{i}"}