- if not method.eql?('reduce')
  %a{:data => {:role => 'button', :type => 'pulldown'}} Emit-Keys/Emit-Key-Functions
  - emit_keys.each_with_index do |key, i|
    .add-remove.pulldown
      .clearfix.row.add-remove-element
        %div.pair
          %label
            Emit-Key:
            %input{:type =>  'text', :name => "#{method}_key_name[]", :class => 'text', :value => key.name, :data => {:method => "#{method}_key"}}
          %a{:href => "/builder/#{params[:uuid]}/sample_data/#{method}?type=key", :class => 'sample_data', :data => {:rel => 'dialog', :transition => 'flip', :corners => 'true', :shadow => 'true', :wrapperels => 'span', :role => 'button', :inline => 'true'}}
            = 'Sample Data'
        %div.pair
          %label
            Emit-Key-Function:
            %input{:type =>  'text', :name => "#{method}_key_function[]", :class => 'text', :value => key.function, :data => {:method => "#{method}_key_function"}}