%form{:id => "builder_form", :action =>  @mrm.new? ? '/builder' : "/builder/#{@mrm.uuid}", :method => "post", :class => 'builder', :data => {:transition => 'none', :ajax => 'false'}}
  - unless @mrm.new?
    %input{:type => "hidden", :name => "_method", :value => "put"}
  %div{:id => 'main', :data => {:role => 'page', :title => @mrm.new? ? "New map reduce object" : @mrm.name}}
    = haml :_header_col, :layout => false, :locals => {:title => @mrm.new? ? "New map reduce object" : @mrm.name, :show_home => true, :show_settings => true}
    %div{:data => {:role => 'content'}}
      %ul{:data => {:role => 'listview'}}
        - ["map", "reduce", "finalize"].each do |type|
          %li
            %a{:href => "##{type}", :data => {:transition => 'slide'}}=type.capitalize
      .row.submit.save_and_back
        %button{:id => 'button-save', :type => "submit", :value => "Save", :class => "button", :data => {:icon => 'check'}} Save
        %a{:id => 'button-execute', :href => "/mapreduce/#{@mrm.uuid}", :data => {:transition => 'slide', :role => 'button', :icon => 'search'}, :class =>  @mrm.new? ? "ui-disabled" : nil } Execute
        %a{:id => 'button-delete', :href => "/builder/#{@mrm.uuid}/delete", :class =>  @mrm.new? ? "ui-disabled delete" : "delete", :data => {:ajax => 'false', :role => 'button', :icon => 'delete'}} Delete

    = haml :_footer, :layout => false

  - ["map", "reduce", "finalize"].each do |type|
    %div.col{:id => type, :data => {:role => 'page', :title => @mrm.new? ? "New map reduce object" : @mrm.name, "add-back-btn" => "true" }}
      = haml :_header_col, :layout => false, :locals => {:title => @mrm.new? ? "New map reduce object" : @mrm.name }
      %div{:data => {:role => 'content'}}
        %h2= type.capitalize
        .builder
          = haml :_builder_col_emit_keys, :locals => {:type => type, :emit_keys => @mrf.send(type.to_sym).keys}
          = haml :_builder_col_emit_values, :locals => {:type => type, :emit_values => @mrf.send(type.to_sym).values}
          = haml :_builder_col_code, :locals => {:type => type, :user_code => @mrf.send(type.to_sym).code, :generated_code => Marbu::Builder.new(@mrf).send(type.to_sym)}
      = haml :_footer, :layout => false

  = haml :_builder_misc, :layout => false

- unless @mrm.new?
  :javascript
  $(function() {
    setTimeout(function() {$("#button-save").button("disable");}, 100);
  });
