%div{:id => 'builder', :data => {:role => 'page'}}
  = haml :header, :layout => false, :locals => {:text => @mrf.name}
  %div{:data => {:role => 'content'}}
    %form{:action => @mrf.uuid, :method => "post", :class => 'builder', :data => {:transition => 'none'}}
      %ul{:data => {:role => 'listview'}}
        - [@map, @reduce, @finalize].each do |mr_step|
          - type = mr_step[:type]
          %li
            %a{:href => "/builder/#{@mrf.uuid}/" + type, :data => {:transition => 'slide'}}=type.capitalize
        %li
          %a{:href => "/builder/#{@mrf.uuid}/misc", :data => {:transition => 'slide'}}='Misc'
      %div.row.submit.save_and_back
        %button{:type => "submit", :value => "Save", :class => "button"}= 'Save'
        %a{:href => "/mapreduce/#{@mrf.uuid}", :data => {:transition => 'slide', :role => 'button'}}= 'Execute'

  %div{:data => {:role => 'content'}}
    %form{:action => @mrf.uuid, :method => "delete", :class => 'builder', :data => {:transition => 'none'}}
      %input{:type => "submit", :value => "Delete"}

       
  = haml :footer, :layout => false