%div.footer{:data=>{:position=>'fixed', :role=>'footer'}}
  %div.footer_navbar{:data=>{:role=>'navbar', :position =>'fixed'}}
    %ul
      %li
        %a{:href => "/builder/#{uuid}", :data => {:transition => 'slide'}}= 'back'
      %li
        %a{:href => "/builder/#{uuid}/map", :data => {:transition => 'slide'}}= 'map'
      %li
        %a{:href => "/builder/#{uuid}/reduce", :data => {:transition => 'slide'}}= 'reduce'
      %li
        %a{:href => "/builder/#{uuid}/finalize", :data => {:transition => 'slide'}}= 'finalize'
      %li
        %a{:href => "/mapreduce/#{uuid}", :data => {:transition => 'slide'}}= 'mapreduce'