%div.jeader{:data=>{:position=>'fixed', :role => 'header'}}
  %h1= @mrf.name
  %div.header_navbar{:data=>{:position=>'fixed', :role => 'navbar', :id => 'header_col'}, :role => 'navbar'}
    %ul
      %li
        %a{:href => "/builder/#{@mrf.uuid}", :data => {:transition => 'slide'}}= 'back'
      %li
        %a{:href => "/builder/#{@mrf.uuid}/map", :data => {:transition => 'slide'}}= 'map'
      %li
        %a{:href => "/builder/#{@mrf.uuid}/reduce", :data => {:transition => 'slide'}}= 'reduce'
      %li
        %a{:href => "/builder/#{@mrf.uuid}/finalize", :data => {:transition => 'slide'}}= 'finalize'
      %li
        %a{:href => "/mapreduce/#{@mrf.uuid}", :data => {:transition => 'slide'}}= 'mapreduce'