%div.header{:data=>{:position=>'fixed', :role => 'header'}}
  -#%h1= name
  -#%div.header_navbar{:data=>{:position=>'fixed', :role => 'navbar', :id => 'header_col'}, :role => 'navbar'}
  -#  %ul
  -#    %li
  -#      %a{:href => "/builder/#{uuid}", :data => {:transition => 'slide'}}= 'back'
  -#    %li
  -#      %a{:href => "/builder/#{uuid}/map", :data => {:transition => 'slide'}}= 'map'
  -#    %li
  -#      %a{:href => "/builder/#{uuid}/reduce", :data => {:transition => 'slide'}}= 'reduce'
  -#    %li
  -#      %a{:href => "/builder/#{uuid}/finalize", :data => {:transition => 'slide'}}= 'finalize'
  -#    %li
  -#      %a{:href => "/mapreduce/#{uuid}", :data => {:transition => 'slide'}}= 'mapreduce'
